{% extends '../base.usuarios.html' %}

{% block usuario %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Código</th>
                <th>Marca</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Tamaño</th>
                <th>Color</th>
                <th>Unidad de Medida</th>
                <th>Material</th>
                <th>Tipo</th>
                <th>Número de Serie</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% endblock usuario %}