{% extends '../base.usuarios.html' %}

{% block usuario %}

<div class="container">
    <div class="text-center">
        <h2>{{ usuario.unidad.nombre }}</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre completo</th>
                <th>Material</th>
                <th>Descripcion</th>
                <th>Cantidad de pedido</th>
                <th>Fecha de pedido</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in data %}
            <tr>
                <td>{{ pedido.material.codigo }}</td>
                <td>{{ pedido.usuario.persona.nombre }} {{ pedido.usuario.persona.apellidos }}</td>
                <td>{{ pedido.material.nombre }}</td>
                <td>{{ pedido.descripcion }}</td>
                <td>{{ pedido.cantidad_pedida }} {{ pedido.unidad_manejo }}</td>
                <td>{{ pedido.fecha_pedido|date:"m/d/y" }}</td>
                <td>
                    {% with pedido.autorizacion_pedido_set.first as autorizacion %}
                    {% if autorizacion.fecha_de_autorizacion %}
                    {{ autorizacion.fecha_de_autorizacion|date:"m/d/y" }}
                    {% endif %}
                    {% endwith %}
                </td>
                <td>
                    {% with pedido.autorizacion_pedido_set.first as autorizacion %}
                    {% if autorizacion %}
                    {% if not autorizacion.estado_autorizacion %}
                    Rechazado
                    {% elif autorizacion.fecha_de_autorizacion %}
                    Autorizado
                    {% else %}
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'autorizar_pedido' pedido.id %}"
                                class="btn btn-success btn-sm">Autorizar</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'rechazar_pedido' pedido.id %}" class="btn btn-danger btn-sm">Rechazar</a>
                        </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'autorizar_pedido' pedido.id %}"
                                class="btn btn-success btn-sm">Autorizar</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'rechazar_pedido' pedido.id %}" class="btn btn-danger btn-sm">Rechazar</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'paginador/paginador.html' %}
</div>



{% endblock usuario %}