{% extends '../base.usuarios.html' %}

{% block usuario %}

<div class="container mt-2">
    <div class="text-center">
        <h2>{{ title}}</h2>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Material</th>
                <th>descripcion</th>

                <th>Cantidad de pedido</th>
                <th>Cantidad de entrega</th>
                <th>Estado de pedido</th>
                <th>Fecha</th>
                <th>Accion</th>


            </tr>
        </thead>
        <tbody>
            {% for pedido in data %}
            <tr>
                <td>{{ pedido.material.codigo }}</td>
                <td>{{ pedido.material.nombre }}</td>
                <td>{{ pedido.descripcion }}</td>
                <td>{{ pedido.cantidad_pedida }}</td>
                <td>{{ pedido.cantidad_entrega }}</td>
                <td>
                    {% if pedido.estado_pedido == False %} <!--Estado de rechazo-->
                    {%if pedido.estado_autorizacion_unidad%}
                    <button disabled="disabled" class="btn btn-success btn-sm">Autorizado</button>
                    {% else %}
                    <button disabled="disabled" class="btn btn-danger btn-sm">No Autorizado</button>
                    {% endif %}
                    {% else %}
                    <button disabled="disabled" class="btn btn-danger btn-sm">Rechazado</button>
                    {% endif %}
                </td>
                <td>{{ pedido.fecha_pedido|date:"m/d/y" }}</td>
                <td>
                <th> {%if pedido.estado_pedido%}
                    <a href="{% url 'eliminar_mi_pedido' pedido.id %}" class='btn btn-danger btn-sm'>Cancelar</a>
                    {% endif %}

                </th>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% include 'paginador/paginador.html' %}
</div>

{%endblock usuario %}