{% extends '../base.html' %}

{% block index %}


<h1>pruductps</h1>
<div class="container">
    <form action="" method="post">
        <div class="row">
            {%for field in form %}
            <div class="col-6">
                <label for="exampleFormControlInput1" class="form-label">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor%}
        </div>
        <div class="text-center mt-3">
            <button class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>

{% endblock index %}