{% extends '../base.html' %}

{% block index %}


<div class="container">
    <div class="text-center">
        <h2>Añadir usuarios</h2>
    </div>
    <form action="{% url 'creando_usuarios' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{ form_persona }}
                <label for="{{ form_usuario.email.id_for_label }}"> {{ form_usuario.email.label}}: </label>
                {{ form_usuario.email }}
                {{form_usuario.email.errors}}
                <label for="{{ form_usuario.item.id_for_label }}"> {{form_usuario.item.label}}:
                </label>
                {{ form_usuario.item}}
                {{form_usuario.item.errors}}
                <label for="{{ form_usuario.cargi.id_for_label }}"> {{form_usuario.cargo.label}}
                </label>
                {{ form_usuario.cargo}}
                {{form_usuario.cargo.errors}}
            </div>
            <div class="col-6">

                <label for="{{ form_usuario.username.id_for_label }}"> {{ form_usuario.username.label}}: </label>
                {{ form_usuario.username }}
                {{form_usuario.username.errors}}
                <label for="{{ form_usuario.password.id_for_label }}"> {{ form_usuario.password.label}}: </label>
                {{ form_usuario.password }}
                <label for="{{ form_usuario.confirmar_password.id_for_label }}">
                    {{form_usuario.confirmar_password.label}}:
                </label>
                {{ form_usuario.confirmar_password }}
                {{form_usuario.confirmar_password.errors}}

                <div class="row">
                    <div class="col-8">
                        <label for="{{ form_usuario.rol.id_for_label }}"> {{form_usuario.rol.label}}:
                        </label>
                        {{ form_usuario.rol }}
                        {{form_usuario.rol.errors}}
                    </div>
                    <div class="col-4 mt-4">
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                            data-target="#rolesMolal">
                            +
                        </button>
                    </div>

                </div>
                <label for="{{ form_usuario.encargado_secretaria.id_for_label }}">
                    {{form_usuario.encargado_secretaria.label}}:
                </label>
                {{ form_usuario.encargado_secretaria}}
                {{form_usuario.encargado_secretaria.errors}}


                <div class="row">
                    <div class="col-8">
                        <label for="{{ form_usuario.secretaria.id_for_label }}"> {{form_usuario.secretaria.label}}:
                        </label>
                        {{ form_usuario.secretaria}}
                        {{form_usuario.rol.errors}}
                    </div>
                    <div class="col-4 mt-4">
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                            data-target="#exampleModal">
                            +
                        </button>
                    </div>

                </div>
                <label for="{{ form_usuario.encargado_unidad.id_for_label }}"> {{form_usuario.encargado_unidad.label}}:
                </label>
                {{ form_usuario.encargado_unidad}}
                {{form_usuario.encargado_unidad.errors}}
            </div>


        </div>
        <div class="text-center mt-3">
            <button class="btn btn-success" type="submit">Guardar</button>

        </div>
    </form>


</div>

<!--modal secretaria-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Añadir Secretaria</h5>
            </div>
            <div class="modal-body">
                <form action="{% url 'crear_secretaria' %}" method="post">
                    {% csrf_token %}
                    <label for="secretaria">Secretaria nombre</label>
                    <input class="form-control" type="text" id="servidor">
                    <div class="mt-2 text-center">
                        <button class="btn btn-success btn-sm" id="submitBtnSecreataria" type="submit">Guardar</button>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<!--fin modal secretaria-->


<!--modal roles-->
<div class="modal fade" id="rolesMolal" tabindex="-1" role="dialog" aria-labelledby="rolesMolal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Añadir Roles</h5>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <label for="">Categoria nombre</label>
                    <input type="text">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-sm" id="submitBtn" type="submit">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!--fin modal roles-->

<script>
    document.getElementById('submitBtnSecreataria').addEventListener('click', () => {
        console.log("hola secretaria");
    })
</script>

{% endblock index %}